.header {
  position: fixed; /* Фиксируем позицию */
  top: 0; /* Прижимаем к верху */
  left: 0; /* Прижимаем к левому краю */
  right: 0; /* Растягиваем на всю ширину */
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: rgba(47,75,86,1);
}

.wrapperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.wrapperLogo {
  width: 188px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperLogo a img {
  width: 168.75px;
  height: 82px;
}

.wrapperSection {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.wrapperSection a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}

.wrapperPhone {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.wrapperPhone a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}